<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ycf.zero.toToSix.mapper.ProductMapper">

    <select id="testXml" resultType="ycf.zero.toToSix.model.Product" >
      select * from product where product_area = #{productArea};
    </select>

</mapper>